.topcardselect {
  display: flex;
  justify-content: center;
  padding: 25px;
  .topcardselect__image {
    padding: 5px;
  }
  .topcardselect__data {
    .data_title {
      font-weight: lighter;
      font-size: 15px;
    }
    .data_select{
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100px!important;
      .selection {
        border: 0px!important;
        padding-left: 0px!important;
      }
    }
    .data_desc {
      font-weight: lighter;
      font-size: 10px;
    }
  }
}