.live-case-country-card {
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: #F2F3F7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 20px 0px;
    .country-details {
        display: flex;
        div {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}