.topcard {
  display: flex;
  justify-content: center;
  padding: 25px;
  .topcard__image {
    padding: 5px;
  }
  .topcard__data {
    .data_title {
      font-weight: lighter;
      font-size: 15px;
    }
    .data_value {
      font-weight: bold;
      font-size: 30px;
    }
    .data_desc {
      font-weight: lighter;
      font-size: 15px;
    }
  }
}