.app {
  position: relative;
  overflow: hidden;
  .app__top {
    width: 100vw;
    height: 40vh;
    background-image: url("./assets/top-background.jpg");
    color: white;
    .header {
      font-weight: bold;
      font-size: 25px;
      padding: 25px;
      .header-light{
        font-weight: lighter;
        font-size: 12px;
      }
    }
  }

  .app__content {
    width: 100vw;
    min-height: 60vh;
    .content {
      width: 1400px;
      padding: 40px;
      background: white;
      margin: auto auto 50px auto;
      background: dimgray;
      .card-panel {
        width: 100%;
        background: white;
        border-radius: 10px;
        height: 150px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
    }
  }

  .app__footer {
    position: absolute;
    width: 100vw;
    height: 50px;
    background-image: url("./assets/top-background.jpg");
    bottom: 0;
    .footer {
      position: relative;
      top: 30%;

      width: 100vw;
      height: fit-content;
      font-weight: bold;
      font-size: 15px;
      color: white;
      text-align: center;
      .footer-light {
        font-weight: lighter;
        font-size: 8px;
      }
    }
  }
}